* {
    margin:0;
    padding:0;
}

body {
    display:flex;
    height:100vh;
    width:100vw;
    align-items: center;
    justify-content: center;
}

.main-container {
    box-sizing: border-box;
    border:3px solid green;
    border-radius: 5%;
    height: 85%;
    width: 30%;
    display:flex;
    flex-direction: column;
    padding: 1.5rem;
}
/* BORDERS */

.main-container > div {
    box-sizing: border-box;
}



/* ***************** */

.display {
    /*border-radius:0.4em;*/
    display:flex;
    flex-direction:column;
    height: 20%;
}

.history, .current {
    
    width:100%;
    height:50%;
}

.history {
    border:1px solid black;
    border-radius: 0.4em 0.4em 0 0;
}

.current {
    border-radius: 0 0 0.4em 0.4em;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-style:solid;
    border-color: black;
}

.buttons {
    display:flex;
    flex-direction: column;
    margin-top:10%;
    height: 68%;
}

.top-buttons{
    height:20%;
    box-sizing: border-box;
    text-align: center;
    padding-top:1.5em;
    border:1px solid black;
}

.bottom-buttons {
    display:flex;
    height:80%;
    justify-self: flex-end;
}

.numbers {
    width: 70%;
    display:flex;
    flex-wrap: wrap;
}

.digit {
    box-sizing: border-box;
    border:.1rem solid black;
    flex-grow: 2;
    width: 33%;
    height:25%;
    text-align: center;
    padding-top:1em;
}

.operators{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:30%;
}

.operator{
    box-sizing: border-box;
    padding-top: 1em;
    border:1px solid black;
    flex-grow:1;
    text-align: center;
    height:20%;
}


