* {
    margin:0;
    padding:0;
    flex-shrink:0;
}

body {
    display:flex;
    height:100vh;
    width:100vw;
    align-items: center;
    justify-content: center;
}

.main-container {
    position:fixed;
    box-sizing: border-box;
    border:3px solid green;
    border-radius: 5%;
    min-height: 85%;
    min-width: 30%;
    height:85%;
    width:30%;
    display:flex;
    flex-direction: column;
    padding: 1.5rem;
}


/* BORDERS */

.main-container > div {
    border:1px solid black;
}



/* ***************** */

.display {
    min-height: 20%;
    box-sizing: border-box;
    border-radius: 0.7em;
}

.buttons {
    display:flex;
    flex-direction: column;
    margin-top:10%;
    height: 68%;
}

.top-buttons{
    height:20%;
    box-sizing: border-box;
    text-align: center;
    padding-top:1.5em;
    border:1px solid black;
}

.bottom-buttons {
    display:flex;
    height:80%;
    justify-self: flex-end;
}

.numbers {
    width: 70%;
    display:flex;
    flex-wrap: wrap;
}

.digit {
    box-sizing: border-box;
    border:.1rem solid black;
    flex-grow: 2;
    width: 33%;
    height:25%;
    text-align: center;
    padding-top:2em;
}

.operators{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:30%;
}

.operator{
    box-sizing: border-box;
    padding-top: 1.5em;
    border:1px solid black;
    flex-grow:1;
    text-align: center;
    height:20%;
}


